@charset "UTF-8";
/* aqui eu ajustei o fundo da tela com cor e foto */
       body {
              background-image: url(images-cardvalidator/amazon-img.jpg);
              background-attachment: fixed;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
       }
/* aqui eu estilizei meu titulo e texto*/
       .titulo-texto { text-align: center;
                color: rgb(255, 255, 255);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-shadow: 0.1em 0.1em 0.2em black;
       }
/* aqui eu tinha puxado meu container e coloquei display e position para pode mover o meu h3 no png do cartão */

       #bgtexto-img {
              position: static;
              background-image: url(images-cardvalidator/credit-card-500.png);
              background-repeat: no-repeat;
              width: 500px;
       }

       #iform {
              position: relative;
              bottom: 280px;
              left: 150px;
              border-radius: 40px;
              width: 300px;
       }

       #caixa {
              width: 300px;
       }