@charset "UTF-8";
/* aqui eu ajustei o fundo da tela com cor e foto */
body { background-color: rgb(0, 0, 0);
       background-size: cover;
       background-position: center;
       background-image: url(images-cardvalidator/amazon-img);
       background-repeat: no-repeat;
}
/* aqui eu estilizei meu titulo e texto*/
.titulo-texto { text-align: center;
                color: rgb(255, 255, 255);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-shadow: 0.1em 0.1em 0.2em black;
              }
/* aqui eu puxei meu container e coloquei display e position para pode mover o meu h3 no png do cartão */
.textarea1 { display: inline-block;
              position: relative;
}
       textarea { border: none;
       }

       .bgtext-img {
              position: absolute;
              background-image: url(images-cardvalidator/credit-card-500.png);
              background-repeat: no-repeat;
       }